<div>
    <%- messages() %>
    <div>
        <form id="loginForm" action="/account/login" method="post">
            <div>
                <label for="account_email">Email:</label>
                <input
                    id="account_email"
                    type="email"
                    name="account_email"
                    required
                    placeholder="Enter your email"
                    value="<%= locals.account_email %>"
                />
            </div>
            <div>
                <label for="account_password">Password:</label>
                <input
                    id="account_password"
                    name="account_password"
                    type="password"
                    required
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                    placeholder="Enter your password"
                    title="Password must be at least 12 characters long and contain at least 1 uppercase letter, 1 number, and 1 special character."
                />
            </div>
            <div>
                <button type="submit">LOGIN</button>
            </div>
        </form>

        <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</div>