<div>
    <%- messages() %>
    <div>
        <form action="">
            <div>
                <label for="account_email">Email:</label>
                <input name="account_email" type="text">
            </div>
            <div>
                <label for="account_password">Password:</label>
                <input name="account_password" type="text">
            </div>
            <div>
                <button>LOGIN</button>
            </div>
        </form>

        <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</div>