<div>
    <div>
        <h1>Welcome to CSE Motors!</h1>
    </div>

    <section>
        <aside>
            <h3>DMC Delorean</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice</p>
            <div>
                <button>
                    Own Today
                </button>
            </div>
        </aside>
    </section>

    <section>
        <h1>
        </h1>
        <div>
            <%- content %>
        </div>
        <div>
            <ul>
                <%- reviews %>
            </ul>
        </div>
    </section>
</div>